{
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "printWidth": 115,
  "singleQuote": true,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    }
  ],
  "endOfLine": "lf"
}
